@font-face {
    font-family: 'trattatello';
    src: url('https://ginogalotti.github.io/guildgazette/fonts/tratatello.woff2') format('woff2'),
         url('https://ginogalotti.github.io/guildgazette/fonts/tratatello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  };